<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div *ngIf="carsList" class="row">
  <div *ngFor="let car of carsList.items" class="col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img [src]="car.imageUrl" class="card-img-top" [alt]="car.model.name" />
      <div class="card-body">
        <h5 class="card-title">{{ car.model.name }}</h5>
        <p class="card-text">
          {{ car.dailyPrice }}
        </p>
        <a href="#" class="btn btn-primary" (click)="onRentButtonClicked()">Rent</a>
      </div>
    </div>
  </div>
</div>
