<div *ngIf="isLoading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div *ngIf="carsList" class="row">
  <div *ngFor="let car of carsList.items" class="col-4">
    <div class="card" style="width: 18rem">
      <img [src]="car.imageUrl" class="card-img-top" [alt]="car.model.name" />
      <div class="card-body">
        <h5 class="card-title">{{ car.model.name }}</h5>
        <p class="card-text">
          {{ car.dailyPrice }}
        </p>
        <a href="#" class="btn btn-primary">Rent</a>
      </div>
    </div>
  </div>
</div>
