<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="">Rent A Car</a>

    <!-- Mobile Nav Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Nav Items -->

        <!-- ngFor Built-in Structual Directive -->
        <li *ngFor="let navItem of navItems" class="nav-item">
          <a
            [routerLink]="navItem.route"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >{{ navItem.label }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
